In [ ]:
# Import the python package for handling data frames     Grade: 0.5

In [ ]:
# Read the CSV file into a data frame variable df_1 and display the first rows.  Grade: 1

In [ ]:
# What are the data types of the variables? use the method info and the attribute dtypes  Grade: 1

In [ ]:
# Use a method that gives you the count, mean, std etc of every variable. Grade: 0.5

In [ ]:
# X6 is a categorical variable. What is the mean value of Y for each category of X6?  Grade: 1.5

In [ ]:
# How many Null values does each column has?  Grade: 0.5

In [ ]:
# Replace the null values of df_1 with the mean of the columns and assign to df_3. Show that df_3 has no null values? Grade: 1.5

In [ ]:
# Change the categorical variables of df_1 into dummy variables and assign to df_2. Display the first rows of df_2  Grade: 1

In [ ]:
# Consider X1 as a categorical variable. Plot the relationship of X1 and Y. Hint: use Boxplot.   Grade: 1.5

In [ ]:
# Plot the relatioship between X4 and Y. Hint: use scatter plot.   Grade: 1